
<nav class="nav-bar">
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="menu">
    <ul>
    <li><a href="/postcreate">Criar post</a></li>
    <li><a href="/">Visualizar posts</a></li>
    </ul>
    <div>
    </nav>